@model IEnumerable<Spg.MvcTestsAdmin.Service.Models.Schoolclass>

@{
    ViewData["Title"] = "Index";
    Spg.MvcTestsAdmin.Service.Models.Schoolclass firstSchoolclass = Model.ToList().FirstOrDefault();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@firstSchoolclass.C_Department"></label>
            </th>
            <th>
                <label asp-for="@firstSchoolclass.C_ClassTeacherNavigation"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <label>@item.C_Department</label>
            </td>
            <td>
                <label>@item.C_ClassTeacherNavigation.T_ID</label>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.C_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.C_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.C_ID">Delete</a> |
                <a asp-controller="Lessons" asp-action="IndexByLessonId" asp-route-schoolclassId="@item.C_ID">Lessons</a>
            </td>
        </tr>
}
    </tbody>
</table>
