@model Spg.MvcTestsAdmin.Service.Models.Lesson

@{
    ViewData["Title"] = "Details";
    var schoolclassId = ViewData["schoolclassId"];
}

<h1>Details</h1>
<p>
    <label>Klasse: </label>@schoolclassId
</p>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_Untis_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_Untis_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_Room)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_ClassNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_ClassNavigation.C_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_HourNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_HourNavigation.P_Nr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_TeacherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_TeacherNavigation.T_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.L_ID">Edit</a> |
    @if (schoolclassId != null)
    {
        <a asp-action="IndexByLessonId" asp-route-schoolclassId="@schoolclassId">Back to List</a>
        <label>|</label> <a asp-action="Index">All Lessons</a>
    }
    else
    {
        <a asp-action="Index">All Lessons</a>
    }
</div>
